:root {
    /*These allow quick changing of themes */
    --primary-color: #d7cec7;
    --secondary-color: #565656;
    --bright: #76323f;
    --neutral: #cbb096;
    --link-color: rgb(61, 61, 199);
    --text-color: #0f0f0f;
    --shadow: #ada7a7;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
} 


body {
    font-family: 'Sarabun', sans-serif;
    color: var(--text-color);
    background: radial-gradient(#c05c6f, #2f050c);
}

header { grid-area: head; }
footer { grid-area: foot; }
#main { grid-area: main; }
.side-panel.left { grid-area: side-left; }
.side-panel.right { grid-area: side-right; }

#container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 200px auto 60px;
    grid-template-areas:
    "head head head head head head head head"
    "side-left side-left main main main main side-right side-right"
    "foot foot foot foot foot foot foot foot";
}

header {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
    ". . pic title title title . .";
    justify-content: space-between;
    background: var(--neutral);
}

header .pic {
    grid-area: pic;
    max-width: 150px;
    margin: auto;
    height: auto;
    border: 3px solid var(--secondary-color);
    border-radius: 75px;
}

header .title {
    grid-area: title;
    line-height: 100px;
    margin: auto;
}

nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

nav a {
    flex: 1 1 100px;
    font-size: 1.3em;
    text-decoration: none;
    color: var(--link-color);
    background-color: var(--neutral);
    border-radius: 0 0 5px 5px;
    text-align: center;
    padding: 3%;
    max-width: 120px;
}

nav a:hover {
    background-color: var(--primary-color);
    border: 1px solid var(--neutral);
    border-top: 0;
    margin-top: -1px;
}

aside {
    text-align: center;
}

section {
    border-radius: 10px;
    background-color: var(--neutral);
    border: 10px outset white;
    padding: 5%;
}

footer {
    background-color: var(--neutral);
    text-align: center;
}

#main {
    background-color: var(--primary-color);
    height: 100%;
}

#content {
    width: 60%;
    margin: auto;
    padding-bottom: 2em;
}   

.side-panel {
    width: 90%;
    padding: 5%;
    margin: 0 auto;
}

.link {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

a.link {
    display: block;
}

a.link:visited {
    color: inherit;
}

a.link:hover {
    color: var(--link-color);
}

a.link i {
    margin-right: 1.5em;
}